*_thesis.py
*_thesis.tex
*.dta
!CPI_uk_base_2015.dta
*.aux
*.bbl
*.blg
*.log
*.out
*.pytxcode
*.synctex.gz!
Paper/
Figures/
Inputs/
!Results/
Results/*
!Data/
!Data/Extracted_5q/
!Data/Extracted_2q/
Data/Extracted_2q/UKDA*
Data/Extracted_5q/UKDA*
!Data/UKQRecessionIndicator.csv
!Data/angSep*
!Data/modOfMod*

